<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="windows-1251">
    <title>Чек для клиента</title>
{% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        @page {
            size: A4;
            margin: 1cm;
        }
        body {
            width: 210mm;
            font-size: 14px;
            height: 297mm;
        }
    </style>
</head>
<body>
{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="col col-3">№ {{current_order_id}}</h2>
            <h3 class="col col-6">{{address}}</h3>
            <div class="col col-3">
                <ul class="list-unstyled">
                    <li class="font-weight-bold">{{client_name}}</li>
                    <li>{{phone}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <table class="table" width="830px">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Количество</th>
                        <th>Цена за единицу</th>
                    </tr>
                </thead>
                <tbody>

				{% for goods_dict in goods %}
					<tr >
						<td>{{ goods_dict.name }}</td>
						<td>{{ goods_dict.quantity }}</td>
						<td>{{ goods_dict.unit_price }}</td>						
					</tr>
				{% endfor %}
                    <tr>
                        <td></td>
                        <td>ИТОГО:</td>
                        <td>{{ total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="jumbotron">
        <h2>Спасибо за заказ :)</h2>
    </div>
{% endblock %}		
</body>
</html>